{
    "extends": "arenanet",
    "parserOptions": {
        "ecmaVersion": "latest",
        "sourceType": "module"
    },
    "env": {
        "node": true
    },
    "overrides": [
        {
            "files" : "./test/**/*.js",
            "env": {
                "vitest": true
            }
        }
    ]
}